/**
 * Typography
 */
body {
	font-family: Helvetica, Arial, sans-serif;
}
#page {
	max-width: 400px;
	margin: 0 auto;
	position: relative;
}
.restart {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	text-transform: uppercase;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
	color: #444;
	font-size: 0.875em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.restart:hover,
.restart:active,
.restart:focus {
	background: #fff;
}

/**
 * Board design
 */
#board {
	display: block;
	width: 100%;
	height: 400px;
	margin: 20px 0;
}
.cell {
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 33.33%;
	height: 33.33%;
	background: #eee;
	border: 5px solid #ccc;
	float: left;
	cursor: pointer;
}
.cell[disabled=disabled] {
	cursor: inherit;
}

/**
 * Symbol visibility
 */
.cell .o,
.cell .x {
	display: none;
}
.show-x .x,
.show-o .o {
	display: block;
}
.turn-o .cell:hover:enabled .o,
.turn-o .cell:active:enabled .o,
.turn-x .cell:hover:enabled .x,
.turn-x .cell:active:enabled .x {
	display: block;
	opacity: 0.5;
}

/**
 * Symbols
 */
.o {
	position: absolute;
	top: 0.3em;
	bottom: 0.3em;
	left: 0.3em;
	right: 0.3em;
	display: block;
	text-indent: -9999px;
	border: 1em solid #00f;
	border-radius: 50%;
}
.x {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	text-indent: -9999px;
}
.x:before,
.x:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	content: "a";
	height: 1em;
	margin-top: -0.5em;
	width: 100%;
	background: #f00;
	transform: rotate(45deg);
}
.x:after {
	transform: rotate(-45deg);	
}